.loginForm {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form {
  width: '100%';
}

.inputContainer {
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
